<ion-header>
  <ion-toolbar>
    <ion-title>Set Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form method="post" [formGroup]="passwordForm" (submit)="submitSetPasswordForm()">
        <ion-item style="margin: 10px">
          <ion-label position="floating">New password</ion-label>
          <ion-input type="password" formControlName="new_password" autofocus required></ion-input>
        </ion-item>
        <ion-item style="margin: 10px">
          <ion-label position="floating">Re-new password</ion-label>
          <ion-input type="password" formControlName="re_new_password" autofocus required></ion-input>
        </ion-item>
        <ion-button style="margin: 0 10px;" expand="block" type="submit" color="primary">Save</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
