<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="login"
        icon="chevron-back-outline">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Forget Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-content>
    <form method="post" [formGroup]="forgetPasswordForm" (submit)="submitRequestForForgetPassword()">
      <ion-item style="margin: 10px">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email" autofocus required></ion-input>
      </ion-item>
      <ion-button style="margin: 0 10px;" expand="block" type="submit" color="primary" [disabled]="disableForm">Send</ion-button>
    </form>
  </ion-card-content>
</ion-card>
</ion-content>
